* text=auto

# Unity files
*.meta -text merge=unityyamlmerge diff
*.unity -text merge=unityyamlmerge diff
*.asset -text merge=unityyamlmerge diff
*.prefab -text merge=unityyamlmerge diff
*.mat -text merge=unityyamlmerge diff
*.anim -text merge=unityyamlmerge diff
*.controller -text merge=unityyamlmerge diff
*.overrideController -text merge=unityyamlmerge diff
*.physicMaterial -text merge=unityyamlmerge diff
*.physicsMaterial2D -text merge=unityyamlmerge diff
*.playable -text merge=unityyamlmerge diff
*.mask -text merge=unityyamlmerge diff
*.brush -text merge=unityyamlmerge diff
*.flare -text merge=unityyamlmerge diff
*.fontsettings -text merge=unityyamlmerge diff
*.guiskin -text merge=unityyamlmerge diff
*.giparams -text merge=unityyamlmerge diff
*.renderTexture -text merge=unityyamlmerge diff
*.spriteatlas -text merge=unityyamlmerge diff
*.terrainlayer -text merge=unityyamlmerge diff
*.mixer -text merge=unityyamlmerge diff
*.shadervariants -text merge=unityyamlmerge diff

# Image formats
*.psd -binary
*.jpg -binary
*.png -binary
*.gif -binary
*.bmp -binary
*.tga -binary
*.tiff -binary
*.tif -binary
*.iff -binary
*.pict -binary
*.dds -binary
*.xcf -binary

# Audio formats
*.mp3 -binary
*.ogg -binary
*.wav -binary
*.aiff -binary
*.aif -binary
*.mod -binary
*.it -binary
*.s3m -binary
*.xm -binary

# Video formats
*.mov -binary
*.avi -binary
*.asf -binary
*.mpg -binary
*.mpeg -binary
*.mp4 -binary

# 3D formats
*.fbx -binary
*.obj -binary
*.max -binary
*.blend -binary
*.dae -binary
*.mb -binary
*.ma -binary
*.3ds -binary
*.dfx -binary
*.c4d -binary
*.lwo -binary
*.lwo2 -binary
*.abc -binary
*.3dm -binary

# Build
*.dll -binary
*.pdb -binary
*.mdb -binary

# Packaging
*.zip -binary
*.7z -binary
*.gz -binary
*.rar -binary
*.tar -binary
